body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.cabecera {
    width: 100%;
    margin-bottom: -5px;
}

.horizontal {
    width: 100%;
    height: 100px;
}

.enlaces {
    background-color: lightseagreen;
    width: 20%;
    height: 795px;
    margin: 0px;
    text-align: center;
    
}

.texto {
    background-color: lightsalmon;
    width: 60%;
    margin: 0px;
    overflow: scroll;
    height: 795px;

}

.imagen {
    width: 20%;
    margin: 0px;
    height: 795px;
    
}

.vertical {
    width: 100%;
    height: 795px;
}

.izquierda {
    float: left;
}

.derecha {
    float: right;
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-indent: 20px;
    text-align: justify;
    text-transform: capitalize;
}

.link {
    text-align: center;
    text-indent: 0px;
}

a:hover {
    cursor: crosshair;   
}