*{
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(52, 49, 49);
    padding: 1rem;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    margin: auto;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

.direccion {
    background-color: darkgreen;
    color: white;
    padding: 5px;
    padding-left: 20px;
}

.formulario {
    background-color: #fff;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1em;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

form label{
    display: block;
}

form p {
    margin: 0;
}

.doble {
    grid-column-start: 1;
    grid-column-end: 3;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid #000;
}



